@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap";

* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100%;
}

body {
    padding: 10px;
}

.sidebar {
    width: 300px;
    height: 100%;
    background-color: #151516;
    border-radius: 17px;
    padding: 0 14px 14px;
    color: #fff;
    position: relative;
    transition: 230ms width;
    display: flex;
    flex-direction: column;

    /*checkbox is not visible*/
    input[name="open"] {
        display: none;
    }

    .toggle {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: rgb(84, 118, 255);
        position: absolute;
        top: 16px;
        left: 100%;
        translate: -50%;
        svg {
            rotate: 180deg;
            transition: 300ms rotate;
            width: 18px;
            height: 18px;
        }
    }

    .header {
        display: flex;
        align-items: center;
        padding: 14px 0;
        font-size: 20px;
        font-weight: 700;
        gap: 7px;
        img {
            height: 45px;
            width: 45px;
        }
    }

    .search {
        position: relative;
        display: block;
        label {
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 40px;
            z-index: 1;
            display: none;
        }
        .icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                width: 22px;
                height: 22px;
            }
        }

        input {
            width: 100%;
            height: 40px;
            background-color: rgba(255, 255, 255, .2);
            border-radius: 5px;
            outline: none;
            padding: 0 12px 0 40px;
            font-size: 14px;
            color: #fff;
        }
    }

    .menu {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        gap: 6px;
        a {
            display: flex;
            height: 40px;
            border-radius: 5px;
            align-items: center;
            color: #fff;
            &:where(:hover, .active){
                background-color: rgba(255, 255, 255, .1);
            }
            .icon {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
                position: relative;

                /*when hover and sidebar are closed, their names are written outside*/
                &::before {
                    position: absolute;
                    content: attr(title);
                    top: 50%;
                    left: 100%;
                    translate: 20px -50%;
                    background-color: #111;
                    padding: 3px 5px;
                    font-size: 12px;
                    border-radius: 4px;
                    white-space: nowrap; /*long words are not underscored*/
                    opacity: 0;
                    visibility: hidden;
                    transition: 230ms opacity;
                }
                &::after {
                    content: '';
                    border: 4px solid transparent;
                    border-right-color: #111;
                    position: absolute;
                    top: 50%;
                    left: 100%;
                    translate: 12px -50%;
                    opacity: 0;
                    visibility: hidden;
                    transition: 230ms opacity;
                }

                svg{
                    width: 22px;
                    height: 22px;
                }
            }
        }
    }

    /*user info*/
    .user {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: auto; /*falls the lowest*/
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            left: 0;
        }
        .name {
            font-size: 14px;
        }
        .email {
            font-size: 12px;
            color: rgba(255, 255, 255, .5);
        }
        button {
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            background-color: transparent;
            color: indianred;
        }
    }

    .hidden {
        opacity: 1;
        visibility: visible;
        transition: 230ms opacity, 230ms visibility;
        white-space: nowrap;
    }

    /*SIDEBAR IS CLOSED*/
    &:has(input[name="open"]:checked) {
        width: 68px;

        /*when the sidebar is open, the words on the side are hidden*/
        .hidden {
            opacity: 0;
            visibility: hidden;
        }

        .toggle {
            width: 27px;
            height: 27px;
            svg {
                rotate: 0deg; 
                width: 14px;
                height: 14px;  
            }
        }

        /*when you click on the search icon, the sidebar opens again*/
        .search label {
            display: block;
        }

        .search input {
            padding-right: 0;
        }

        .menu .icon {
            &:hover::before, &:hover::after {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}